* {
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: #6495ed;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #1e90ff;
}

a {
    text-decoration: none;
    font-size: 13px;
    color: #483d8b;
    margin-bottom: 10px;
}

a:hover {
    color: #0000cd;
}

#formulario {
    background: white;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label,
input {
    display: block;
    width: 100%;
}

label {
    color: #000000;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-align: left;
}

input {
    border-bottom: 2px solid #191970;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 19px;
    transition: .4s;
    text-align: center;
}

h1 {
    text-align: center;
    color: #000000;
    text-decoration: underline;
}

#entrar {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    margin-top: 10px;
    height: 40px;
    border-radius: 30px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: #4169e1;
    display: block;
    width: 100%;
    transition: .4s;
}

#entrar:hover {
    background-color: #1e90ff;
    box-shadow: 0 0 1em #ccc;
}

#entrar:focus {
    outline: none;
}